# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  none
  
pool:
  vmImage: 'windows-latest'

variables:

- name: solution
  value: '**/*.sln'
- name: buildPlatform
  value: 'Any CPU'
- name: buildConfiguration
  value: 'Release'
- name: versionNo
  value: $(versionNumber)


steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

# 1. Pack the project into a .nupkg file
#- task: DotNetCoreCLI@2
#  displayName: 'dotnet pack'
#  inputs:
#    command: pack
#    packagesToPack: '**/*.csproj'
#    packDirectory: '$(Build.ArtifactStagingDirectory)'
#    versioningScheme: byEnvVar
#    versionEnvVar: versionNo



# 2. Push to an internal Azure Artifacts feed
#- task: DotNetCoreCLI@2
#  displayName: 'dotnet push'
#  inputs:
#    command: push
#    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
#    publishVstsFeed: 'TestProject1/TestFeed1' # Format: 'ProjectName/FeedName' or 'FeedGUID'


- powershell: |
    $org = "$(System.CollectionUri)"
    $project = "$(System.TeamProject)"
    $defId = "$(System.DefinitionId)"
    $pat = "$(System.AccessToken)"
    $varName = "versionNumber"
    $newValue = "$(versionNumber)"

    $body = @{
        variables = @{
            $varName = @{
                value = $newValue
            }
        }
    } | ConvertTo-Json -Depth 5

    $headers = @{
        Authorization = "Bearer $pat"
        "Content-Type" = "application/json"
    }
    
        # 1. GET the full definition
    $url = "$org$project/_apis/build/definitions/$defId?api-version=7.1-preview.7"

    echo "defId = $defId"
    echo "url = $url"
    
    ##$definition = Invoke-RestMethod -Uri $url -Headers $headers -Method Get

    # 2. Update the variable
    ##$definition.variables.versionNumber.value = "$(versionNumber)"

    # 3. PATCH the full definition back
    ##$body = $definition | ConvertTo-Json -Depth 20
    ##Invoke-RestMethod -Uri $url -Headers $headers -Method Put -Body $body
  env:
    SYSTEM_ACCESSTOKEN: $(System.AccessToken)
