# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  none
  
pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  versionNo: $(MajorVersion).$(MinorVersion).$(PatchVersion)

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

# 1. Pack the project into a .nupkg file
- task: DotNetCoreCLI@2
  displayName: 'dotnet pack'
  inputs:
    command: pack
    packagesToPack: '**/*.csproj'
    packDirectory: '$(Build.ArtifactStagingDirectory)'
    #versioningScheme: 'byBuildNumber' # Or use 'off' and define in .csproj
    versioningScheme: byEnvVar
    versionEnvVar: versionNo
    #majorVersion: $(MajorVersion)
    #minorVersion: $(MinorVersion)
    #patchVersion: $(PatchVersion)

- script: |
    echo "Current version: $(MinorVersion)"
    
    echo "##vso[task.setvariable variable=MinorVersion;isOutput=true]$(MinorVersion)"
  name: SetVersion

- script: |
    echo "Updating variable in Azure DevOps..."
    curl -X PATCH -H "Content-Type: application/json" -H "Authorization: Bearer $(System.AccessToken)" -d '{"value": "$(MinorVersion)"}' https://dev.azure.com/demonscream/TestProject1/_apis/distributedtask/variablegroups/<variableGroupId>?api-version=6.0-preview.2
  displayName: "Update Variable in Azure DevOps"
  env:
    SYSTEM_ACCESSTOKEN: $(System.AccessToken)

# 2. Push to an internal Azure Artifacts feed
- task: DotNetCoreCLI@2
  displayName: 'dotnet push'
  inputs:
    command: push
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    publishVstsFeed: 'TestProject1/TestFeed1' # Format: 'ProjectName/FeedName' or 'FeedGUID'